* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin: 65px auto 0 auto;

  &Item {
    flex-grow: 1;    
  }
}